<h1>Listing competitions</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Investor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @competitions.each do |competition| %>
  <tr>
    <td><%= competition.title %></td>
    <td><%= competition.description %></td>
    <td><%= competition.investor %></td>
    <td><%= link_to 'Show', competition %></td>
    <td><%= link_to 'Edit', edit_competition_path(competition) %></td>
    <td><%= link_to 'Destroy', competition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
