<%= link_to "Home", root_path, :class => 'brand' %>
<% if user_signed_in? %>
  <ul class="nav pull-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i><%= current_user.username %> <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li>
          <a href="#myModal" data-toggle="modal"><i class="icon-wrench"></i> Account Settings</a>
        </li>                
        <li>
          <%= link_to('Sign out', destroy_user_session_path, :method=>:delete) %>
        </li>
        <li>
          <%= link_to('Deactivate', controller: 'users' , action: 'confirm_deactivate') %>
        </li> 
      </ul>
    </li>
  </ul>
<% else %>
<ul class="nav">
    <li>
    <%= link_to('Register', new_user_session_path)  %>
    </li>
  <% end %>
</ul>