<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Idearator" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", :media => "screen" %>

    <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
    <%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class>
    <header class="navbar navbar-fixed-top" id = "bar">
      <nav class="navbar-inner">
        <div class="container">
          <!--! Add/edit the navigation links in the _navigation partial-->
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <div id="main" role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span8">
              <%= render 'layouts/messages' %>
              <%= yield %>
            </div>
            <div class ="row">
              <div id="sidebar" class="span4"><!--! Trending view rendered here--></div>
            <div id="sidebar" class="span4">
              <%= yield :sidebar %></div>
          </div>
          </div>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
