<table>
			<% @idea.comments.each do |comment| %>
				<tr>
    			<td>
    				<blockquote>
    					<label>
    						<%= comment.content %>
    					</label>
    					<small> 
    						added <%= time_ago_in_words comment.created_at %> ago  and updated <%= time_ago_in_words comment.updated_at %> ago
    					</small>
    				</blockquote> 
    			</td>
					<td>
						<%= link_to "<i></i>".html_safe, [@idea, comment], :method=>:delete, :class=> "icon-remove", :confirm => 'Are you sure?' %>
						<small>
							<%= comment.num_likes %> likes
						</small>
							<% if @likes.detect {|x| x.comment_id == comment.id}.nil? %>
								<%= link_to "+1", :controller => 'ideas', :action => 'like', :commentid => comment.id,:id =>@idea.id, :remote => true %>
							<% end %> 
							<%= link_to "<i></i>".html_safe, edit_idea_comment_path(@idea,comment), :id => "button_id", :class => "icon-edit" %> 
					</td>
				</tr>
					<% end %>
</table>