<%= javascript_include_tag "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515f76bb48a18b9b" %>
<p id="notice"><%= notice %></p>
<div class='media'>
	<a  class="pull-left" href="#">
		<%= image_tag @idea.photo.url(:medium) %>
	</a>
	<p>
		<b>Title:</b>
		<div><%= @idea.title %></div>
		<% if @user == @idea.user_id %>
			<div class="btn-group">
				<%= link_to 'Edit', edit_idea_path(@idea) ,:class => "btn btn-inverse" %>
				<span class="caret"></span>
				<!--! add here archive and delete buttons -->
			</div>
		<%end%>
	</p>
</div>
<div class="media-body">
	<p>
		<b>Description:</b>
		<div><%= @idea.description %></div>
	</p>
	<p>
		<b>Problem Solved:</b>
		<div><%= @idea.problem_solved  %></div>
	</p>
</div>
<td><%= link_to 'Back', '/',:class => "btn" %></td>
<%if @idea.archive_status == false%>
<div id="show" class="container">
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a id="fb" class="addthis_button_facebook"></a>
<a id="tw" class="addthis_button_twitter"></a>
<h4 id="facebook"> Share on Facebook </h4>
<h4 id="twitter"> Share on Twitter </h4>
</div>
</div>
<%end%>

