<tr>
    <td>
    	<div class="alert alert-info">
    		<blockquote> 
    			<div id = "<%=comment.id%>">
    				<label class="commentContent" data-toggle="tooltip" title="To edit click on line">
                        <%= best_in_place comment, :content  , :type => :input, :path => {controller: :comments, action: :update, :idea_id => @idea.id, :id => comment.id}%>
    				</label>
    				<small> 
    					added <%= time_ago_in_words comment.created_at %> ago
    				</small>
    			</div>
    		</blockquote> 
    			    
			<p class ="buttons">	<%= link_to "<i></i>".html_safe, [@idea, comment], :method=>:delete, :class=> "icon-remove", :confirm => 'Are you sure?' , :remote => true %>
				<% if @likes.detect {|x| x.comment_id == comment.id}.nil? %>
					<%= link_to "<i>+1</i>".html_safe ,:class => " icon-thumbs-up", :controller => 'ideas', :action => 'like', :commentid => comment.id,:id =>@idea.id, :remote => true %>
				<% end %> 
				<small class = "text-info">
					<%= comment.num_likes %> likes
				</small>
			</p>
		</div>
	</td>
</tr>