<p id="notice"><%= notice %></p>


<h2>Comments</h2>
  <%= @comment.body.each do |comment| %>

<p>
    <b>Comment:</b>
    <%= comment.content %>
  </p>
<% end %>
 
<h2>Add a comment:</h2>
<%= form_for([@comment, @comment.content.build]) do |f| %>
 
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
 
<br />


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
