<h1><%= @blog.name%> </h1>

<%= form_tag "/blogs/"+@blog.id.to_s, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= link_to 'Show', post %></td>
    <% if @blog.user_id == session[:user_id] %>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />
    <% if @blog.user_id == session[:user_id] %>
<%= link_to 'New Post', new_post_path %>
<%end%>