<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
 
  <p>
    <b>Comment:</b>
    <%= comment.content %>
  </p>
  <p>
    <% if session[:user_id] != nil and @blog2.user_id == session[:user_id] or session[:user_id] == comment.user_id %>
   <td><%= link_to 'Destroy Comment', [comment.post, comment],
               :confirm => 'Are you sure?',
               :method => :delete %></td>
   <td><%= link_to 'Edit', edit_post_comment_path(@post , comment) %></td>
    <% end %>
               
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

  <p>
    <% if session[:user_id] != nil and @blog2.user_id == session[:user_id] or session[:user_id] == @comment.user_id %>
    <td><%= link_to 'Edit', edit_post_path(@post) %></td>
    <td><%= link_to 'Back' , @blog  %></td>
   <% end %>
  </p>@post.
