<div id='content' class="span8">
               <div id = "IdeaStream">
                <% @no = 0 %>
  <% if @approved.count > 0 %>
   <% @approved.each do |approved| %>
     <% if approved.user.active == true and approved.user.banned == false and approved.approved == true%>
     <% @no = @no + 1 %>
        <tr>
      <br>
      <td>
      <%= link_to "Title: " + approved.title , approved %>
    </td>
      <br>
      <td>
      <%= "Description: " + approved.description %>
      <br>
      <%= "Number of votes " + approved.num_votes.to_s %>
      <br>
      <%= "Problem Solved " + approved.problem_solved %>
      <br>
      <%= "Posted at " + approved.created_at.to_s %>
      </td>
      <td><%= image_tag approved.photo.url(:thumb) %></td>
      <br>
      </tr>
     <% end %>
  <% end %>
  <br>
  <br>
  <% if @no > 1%>
  <div class = "alert alert-success"> <%= @approved.count %> Ideas Found</div>
  <% else %>
  <div class = "alert alert-success">1 Idea Found</div>
    <% end %>
  <% else %>
 <div class = "alert alert-error">Your searching criterias didn't match our database</div>
 <% end %>
 </div>
</div>