<% @no = 0 %>
<% if params[:search] != ""%>
  <% @search.each do |approved| %>
    <% if approved.user.active == true and approved.user.banned == false and approved.approved == true%>
      <% @no = @no + 1 %>
      <div class ="row block span8">
        <div class = "wrapper">  
          <div class = "span2 in-line"><%= image_tag approved.photo.url(:medium)  %></div>
          <div class = "span6">
            <div class = "span1 pull"></div>
            <h3> <%= link_to  approved.title , approved %> </h3>
            <%= approved.description %>
            <ul class ="inline">
              <% approved.tags.each do |tag| %>
                <li style = "color: #0060ff;"><%= tag.name %></li>
              <% end %>
            </ul> 
            <span class = "idea-vote inline "><%=  approved.num_votes.to_s %></span>
            <br>
            <button class = "btn btn-large btn-success inline pull-right margin " type = "button"> Vote! </button>
          </div>
        </div>  
      </div>
    <% end %>
  <% end %>
  <br>
  <br>
  <% if @no > 1%>
    <div class = "alert alert-success"> <% @no %> Ideas Found</div>
  <% else %>
    <% if @no == 1%>
      <div class = "alert alert-success">1 Idea Found</div>
    <% else %>
      <div class = "alert alert-block">No ideas Found :( </div>
    <% end %>
  <% end %>
<% end %>
