<% content_for :javascript_includes do %>
  <%= javascript_include_tag "navigationscroll.js" %>
<% end %>
<%if current_user == nil%>
  <div id= "landing">
    <div class="hero-unit text-center" id="title">
      <h1>Idearator</h1>
      <p>The Community that turns your ideas into a Reality</p>
    </div>
    <div class='row'>
      <div class="span3 pull-right signinout">
        <%= link_to('Sign in', new_user_session_path , :class =>"btn btn-success btn-large btn-block") %>
        <ul class='inline unstyled text-center'>
          <li>
            <%= link_to 'Sign in with Facebook', user_omniauth_authorize_path(:facebook),
            :class => 'popup facebook-nav-login landing-login',
            "data-width" => 600, "data-height" => 500 %>
          </li>
          <li>
            <%= link_to 'Sign in with Twitter', user_omniauth_authorize_path(:twitter),
            :class => 'popup twitter-nav-login landing-login',
            'data-width' => 600, 'data-height' => 500  %>
          </li>
        </ul>
        <div class="text-center">
          <h5>OR</h5>
        </div>
        <div class= "landing-sign-up">
          <%= render 'users/sign_up_form_landing' %>
        </div>
      </div>
      <div id="myCarousel" class="carousel slide span9">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner carouselitem text-center">
          <div class="active item">
            <div class="text-center">
              <%= image_tag('lightbulb-image-for-WEbsite1.jpg')%>
              <div class="carousel-caption text-center">
                <h4>Have an Awsome Idea ?!</h4>
                <h4>Decide you want to share your idea with the world.</h4>
              </div>
            </div>
          </div>
          <div class="item carouselitem">
            <div class="text-center">
              <%= image_tag('331281.jpg')%>
            </div>
            <div class="carousel-caption text-center">
              <h4>Sign up right now to Idearator</h4>
            </div>
          </div>
          <div class="item carouselitem">
            <div class="text-center">
              <%= image_tag('bulb1.jpg')%>
            </div>
            <div class="carousel-caption text-center">
              <h4>Submit your idea</h4>
              <h4>Let the community decide the future of your idea</h4>
              <h4>Turn your idea into a Reality</h4>
            </div>
          </div>
        </div>
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
  </div>
  <div class="container best-ideas-div img-rounded">
    <div class="text-center">
      <h3 class="fancy-title">Checkout Some of our best ideas</h3>
    </div>
      <% @best.each do |best| %>
        <div class='best-wrapper' data-idea-id='<%= best.id %>'>
          <%= image_tag best.photo.url(:medium) ,:class => 'img-rounded best-ideas' %>
          <div class='description img-rounded text-center'>
            <h3 class='description_content best-title'><%= best.title%></h3>
            <h4 class='description_content best-user'> By <%= best.user.username %></h4>
          </div>
        </div>
      <% end %>
  </div>
  <div class="text-center">
    <button class="stream-generate-button">Check Out The Latest Ideas</button>
  </div>
<%else%>
<%end%>

