<div class='well notification idea <%= notification.read_by?(current_user) ? 'read' : 'unread' %>' data-time=<%= notification.created_at.to_i %> data-notification = <%= notification.id %>>
  <span><%= notification.text %></span>
  <div class='link'><%= link_to 'view idea', notification.idea %></div>
  <span class='date'><%= notification.created_at.to_s(:long)%></span>
</div>
