<%if user_signed_in?%>
  <% @notifications.each do |notification| %>
    <% if notification.is_a? VoteNotification %>
      <li><%= link_to 'Your idea ' + notification.idea.title + ' got a vote.', {controller: 'notifications', action: 'redirect_idea', not_id: notification.id} %></li>
      <li class="divider"></li>
    <% end %>
    <% if notification.is_a? CommentNotification %>
      <li><%= link_to notification.user.username + ' commented on you idea ' + notification.idea.title + '.', {controller: 'notifications', action: 'redirect_idea', not_id: notification.id} %></li>
      <li class="divider"></li>
    <% end %>
    <% if notification.is_a? DeleteNotification %>
      <li class="disabled"><a><%= notification.user.username %>  deleted his idea <%= notification.idea.title %>.</a></li>
      <li class="divider"></li>
    <% end %>
    <% if notification.is_a? EditNotification %>
      <li><%= link_to notification.user.username + ' edited his idea ' + notification.idea.title + '.', {controller: 'notifications', action: 'redirect_idea', not_id: notification.id}%></li>
      <li class="divider"></li>
    <% end %>
    <% if notification.is_a? ArchiveNotification %>
      <li><%=link_to 'The idea ' + notification.idea.title + ' got archived.', {controller: 'notifications', action: 'redirect_idea', not_id: notification.id} %></li>
      <li class="divider"></li>
    <% end %>
    <% if notification.is_a? DisapproveIdeaNotification %>
      <li><%= link_to 'Your idea ' + notification.user.username + ' was not approved by committee.', {controller: 'notifications', action: 'redirect_idea', not_id: notification.id}%></li>
      <li class="divider"></li>
    <% end %>
    <% if notification.is_a? InviteCommitteeNotification and current_user.is_a? Committee %>
      <li><%=link_to 'You have been invited!', :url => {:controller => 'users', :action => 'send_expertise' }, :method => 'get', :remote => true %></li>
      <li class="divider"></li>
    <% end %>
     <% if notification.is_a? InviteCommitteeNotification and current_user.is_a? Admin and @stat[notification.id][0] and not invitations.empty?%>
      <li><%= @stat[notification.id][1] %> has accepted the invitation to become a committee member</li>
      <li class="divider"></li>
    <% end %>
     <% if notification.is_a? InviteCommitteeNotification and current_user.is_a? Admin and not @stat[notification.id][0] and %>
        <li><%= @stat[notification.id][1]  %> has rejected the invitation to become a committee member</li>
      <li class="divider"></li>
    <% end %>
    <% if notification.is_a? ApproveCommitteeNotification %>
      <li><%=link_to notification.user.username + ' has signed up as a committee member.', {controller: 'notifications', action: 'redirect_review', not_id: notification.id} %></li>
      <li class="divider"></li>
    <% end %>
  <% end %>
  <li><div class = "text-right padding_right"><%= link_to('view all', controller: 'notifications',
        action: 'view_all_notifications')%></div></li>
<% end %>
