<% @all_notifications.each do |notification| %>
    <% if notification.is_a? VoteNotification %>
      <% if ! IdeaNotificationsUser.find(:first, :conditions => {idea_notification_id: notification.id, user_id: current_user.id }).read? %>
        <div class = 'well notification idea unread' data-notification = <%= notification.idea.id %> >
          <span>Your idea  <%= notification.idea.title %> got a vote.</span>
          <div class = 'link'><%= link_to 'view idea', notification.idea %></div>
        </div>
      <% else %>
        <div class = 'well notification idea read' data-notification = <%= notification.idea.id %>>
          <span>Your idea  <%= notification.idea.title %> got a vote.</span>
          <div class = 'link'><%= link_to 'view idea', notification.idea %></div>
        </div>
      <% end %>
    <% end %>
    <% if notification.is_a? CommentNotification %>
      <% if ! IdeaNotificationsUser.find(:first, :conditions => {idea_notification_id: notification.id, user_id: current_user.id }).read? %>
        <div class = 'well notification idea unread' data-notification = <%= notification.idea.id %>>
          <span><%= notification.user.username %> commented on you idea <%= notification.idea.title %>.</span>
          <div class = 'link'><%= link_to 'view idea', notification.idea %></div>
        </div>
      <% else %>
        <div class = 'well notification idea read' data-notification = <%= notification.idea.id %>>
          <span><%= notification.user.username %> commented on you idea <%= notification.idea.title %>.</span>
          <div class = 'link'><%= link_to 'view idea', notification.idea %></div>
        </div>
      <% end %>
    <% end %>
    <% if notification.is_a? DeleteNotification %>
      <% if ! IdeaNotificationsUser.find(:first, :conditions => {idea_notification_id: notification.id, user_id: current_user.id }).read? %>
        <div class = 'well notification unread'>
          <span><%= notification.user.username %> deleted his idea <%= notification.idea.title %>.</span>
        </div>
      <% else %>
        <div class = 'well notification read'>
          <span><%= notification.user.username %> deleted his idea <%= notification.idea.title %>.</span>
        </div>
      <% end %>
    <% end %>
    <% if notification.is_a? EditNotification %>
      <% if ! IdeaNotificationsUser.find(:first, :conditions => {idea_notification_id: notification.id, user_id: current_user.id }).read? %>
        <div class = 'well notification idea unread' data-notification = <%= notification.idea.id %>>
          <span><%= notification.user.username %> edited his idea <%= notification.idea.title %>.</spans>
          <div class = 'link'><%= link_to 'view idea', notification.idea %></div>
        </div>
      <% else %>
        <div class = 'well notification idea read' data-notification = <%= notification.idea.id %>>
          <span><%= notification.user.username %> edited his idea <%= notification.idea.title %>.</span>
          <div class = 'link'><%= link_to 'view idea', notification.idea %></div>
        </div>
      <% end %>
    <% end %>
    <% if notification.is_a? ArchiveNotification %>
      <% if ! IdeaNotificationsUser.find(:first, :conditions => {idea_notification_id: notification.id, user_id: current_user.id }).read? %>
        <div class = 'well notification idea unread' data-notification = <%= notification.idea.id %>>
          <span>The idea  <%= notification.idea.title %>  got archived.</span>
          <div class = 'link'><%= link_to 'view idea', notification.idea %></div>
        </div>
      <% else %>
        <div class = 'well notification idea read' data-notification = <%= notification.idea.id %>>
          <span>The idea  <%= notification.idea.title %>  got archived.</span>
          <div class = 'link'><%= link_to 'view idea', notification.idea %></div>
        </div>
      <% end %>
    <% end %>
    <% if notification.is_a? DisapproveIdeaNotification %>
      <% if ! IdeaNotificationsUser.find(:first, :conditions => {idea_notification_id: notification.id, user_id: current_user.id }).read? %>
        <div class = 'well notification idea unread' data-notification = <%= notification.idea.id %>>
          <span>Your idea <%= notification.idea.title %> wasn't approved by committee.</span>
          <div class = 'link'><%= link_to 'view idea', notification.idea %></div>
        </div>
      <% else %>
        <div class = 'well notification idea read' data-notification = <%= notification.idea.id %>>
          <span>Your idea <%= notification.idea.title %> wasn't approved by committee.</span>
          <div class = 'link'><%= link_to 'view idea', notification.idea %></div>
        </div>
      <% end %>
    <% end %>
    <% if notification.is_a? InviteCommitteeNotification %>
      <% if ! UserNotificationsUser.find(:first, :conditions => {user_notification_id: notification.id, user_id: current_user.id }).read? %>
        <div class = 'well notification invite-committee unread' data-notification = <%= notification.user.id %>>
          <span>You have been invited to become a committee member.</span>
          <div class = 'link'><%= link_to 'choose area of expertise', {controller: 'users', action: 'expertise'} %></div>
        </div>
      <% else %>
        <div class = 'well notification invite-committee read' data-notification = <%= notification.user.id %>>
          <span>You have been invited to become a committee member.</span>
          <div class = 'link'><%= link_to 'choose area of expertise', {controller: 'users', action: 'expertise'} %></div>
        </div>
      <% end %>
    <% end %>
    <% if notification.is_a? ApproveCommitteeNotification %>
      <% if ! UserNotificationsUser.find(:first, :conditions => {user_notification_id: notification.id, user_id: current_user.id }).read? %>
        <div class = 'well notification approve-committee unread' data-notification = <%= notification.user.id %>>
          <span><%= notification.user.username %> has signed up as a committee member</span>
          <div class = 'link'><%= link_to 'review committee', {controller: 'committees', action: 'review' }  %></div>
        </div>
      <% else %>
        <div class = 'well notification approve-committee read' data-notification = <%= notification.user.id %>>
          <span><%= notification.user.username %> has signed up as a committee member</span>
          <div class = 'link'><%= link_to 'review committee', {controller: 'committees', action: 'review' } %></div>
        </div>
      <% end %>
    <% end %>

  <% if notification.is_a? UserNotification %>
    <% user_not = UserNotificationsUser.find(:first, :conditions => {user_notification_id: notification.id, user_id: current_user.id })
    user_not.read = true
    user_not.save %>
  <% else %>
    <% idea_not = IdeaNotificationsUser.find(:first, :conditions => {idea_notification_id: notification.id, user_id: current_user.id })
    idea_not.read = true
    idea_not.save %>
  <% unread_ideas = IdeaNotificationsUser.find(:all, :conditions => {user_id: current_user.id, read: false }).length
    unread_users = UserNotificationsUser.find(:all, :conditions => {user_id: current_user.id, read: false }).length
    @count = unread_users + unread_ideas
  %>
  <% end %>
<% end %>