<h1><%= @user.username %>'s Profile</h1>
<%if @user.banned == true %>
  <p class="text-error">This User is currently banned!</p>
  <%elsif @user.active == false%>
    <p class="text-error">This User is currently deactivated!</p>
<% end %>
<% if current_user.type == "Admin" && @user.active==true && @user.banned==false%>
 <button class="btn btn-primary btn-large">Ban</button>
<% end %>
<% if current_user.type == "Admin" && @user.banned==true%>
 <button class="btn btn-primary btn-large">Unban</button>
 <button class="btn btn-primary btn-large">Invite</button>
<% end %>
<% if current_user.type == "Admin" && @user.active==true%>
 <%= link_to "Invite", :controller => "admins", :action => "invite_member", :id => @user, :class => "btn btn-primary btn-large" %>
 <%end%>
<div>
<% if current_user.type == "Admin" and @user.banned==false and @invited%>
 <%= render :partial => 'modal_approve'%>
 <p style="display-inline;"><a data-toggle="modal" href="#approve" class="btn btn-primary btn-large">Approve</a></p>  
<% end %>
<% if current_user.type == "Admin" and @invited and @user.banned==false%>
 <%= render :partial => 'modal_reject'%>
 <p style="display-inline;"><a data-toggle="modal" href="#reject" class="btn btn-primary btn-large btn-danger">Reject</a></p>  
<% end %>
<% if @user.banned==false and @user.active==true and current_user.is_a? Committee and @tags != nil %>
<%= render :partial => 'modal_expertise'%>
<p><a data-toggle="modal" href="#expertise" class="btn btn-primary btn-large">Choose Area of Expertise</a></p>  
<%end%>
<% if current_user == @user %>
 <button class="btn">Edit Profile</button>
<% end %>
<% if current_user == @user and @user.active%>
 <button class="btn">Deactivate</button>
<% end %>
<% if @user.banned == false and @user.active == true %>
  <h3> About the User </h3>
  <strong>Email</strong><br>
  <%= @user.email %><br>
  <strong>First Name</strong><br>
  <%= @user.first_name %><br>
  <strong>Last Name</strong><br>
  <%= @user.last_name %><br>
  <strong>Gender</strong><br>
  <%= @user.gender %><br>
  <strong>About <%= @user.username %></strong><br>
  <%= @user.about_me %><br>
  <br>
  <h3> User Ideas </h3>
  <div id = "IdeaStream">
    <% if @ideas.size> 0 %>
      <% @ideas.each do |ideas| %>
        <% if ideas.approved == true%>
          <tr>
          <br>
            <td>
              <%= link_to "Title: " + ideas.title , ideas %>
            </td>
            <br>
            <td>
              <%= "Description: " + ideas.description %>
              <br>
              <%= "Number of votes "  + ideas.num_votes.to_s %>
              <br>
              <%= "Problem Solved " + ideas.problem_solved %>
              <br>
              <%=  "Posted at " + ideas.created_at.to_s %>
            </td>
            <br>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>

<ul class="pager">
  <li><%= link_to 'Back', :back %></li>
</ul>