<h2>Sign up</h2>


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

	<p><%= f.label :username %><br />
  <%= f.text_field :username %></p>

  <div> <%= f.check_box :type, {id: "is-committee"}, "Committee", "User" %> Sign up as committee </div>

  <div id= "all-tags"> Choose your area(s) of expertise: <% @tags.each do |tag|%>
    <div> <%= check_box_tag 'tags[]', tag.id, false %><%= tag.name %> </div>
  <% end %> </div>
 
  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
