<%- model_class = Tag -%>
<div class="page-header">
  <h1><%=t '.title', :default => @tag.name %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Synonym</th>
	  <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= link_to tag.name, tag_path(tag) %></td>
        <td><%=l tag.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_tag_path(tag), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      tag_path(tag),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

  
<div id="example" class="modal hide fade in" style="display: none; ">
            <div class="modal-body">
	            <div class="modal-header">
	              <a class="close" data-dismiss="modal">×</a>
	              <h3>Add Synonym</h3>
	            </div>
			 
			 
				<%= form_for @tag, :html => { :class => 'form-horizontal' }, :url =>  url_for(:controller => 'tags',  :action => 'addsym') do |f| %>
				  <div class="control-group">
				    <%= f.label :name, :class => 'control-label' %>
				    <div class="controls">
				      <%= f.text_field :name, :class => 'text_field'%>
				    </div>
				  </div>
				  <div class="form-actions">
				    <%= f.submit "New Synonym", :class => 'btn btn-primary'%>
				    <a href="#" class="btn" data-dismiss="modal">Close</a>
				  </div>
				<% end %>
				

				<div class="alert">  
				  <a id = notice class="close" data-dismiss="alert">×</a>  
				  <strong>Info: </strong> <p id="notice"><%= notice %></p>
				</div>
			        
            </div>
		</div>


  


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              tags_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_tag_path(@tag), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              tag_path(@tag),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
			  <p style="display:inline;"><a data-toggle="modal" href="#example" class="btn btn-primary">Create</a></p>

			  </div>

</div>


