

<div id = "IdeaStream">
	<div class = "page">
		<%= render :partial => 'stream' %>
	</div>	

</div>
 <p id="notice"><%= notice %></p>
  <% content_for :sidebar do %>
    <div class="topten pull-right">
      <h1>Top Ten Ideas</h1>
      <div class="media">
        <% @top.each do |top| %>
          <% if top.user.active == true and top.user.banned == false%>
            <div class="topten_idea">
              <a class="pull-left" href="#">
                <span><%= image_tag(top.photo.url(:thumb), :size => "30x20") %></span>
              </a>
              <div class="media-body">
                <h4 class="media-heading"> <%= link_to top.title ,top %> </h4>
                <span><%= top.num_votes %></span>
                <span><%= link_to  top.user.first_name, top  %></span>
              </div>
            </div>
          <% end %>
        <%end%>
      </div>
    </div>
  <% end %>


<style type = "text/css">
  
  .idea-vote{
    padding-left: 500px;
    font-size: 35px;
  }

  .block{
    box-shadow: 0px 0px 2px rgba(51,51,51,0.9);
    margin-bottom: 20px;
  }

  .wrapper{
    margin-top: 20px;
  }

  .margin{
    margin-top: 10px;
    margin-bottom: 15px;
  }
</style>


<script type="text/javascript">
(function() {
  var page = 1,
      loading = false;

  function nearBottomOfPage() {
    return $(window).scrollTop() > $(document).height() - $(window).height() - 100;
  }

  $(window).scroll(function(){
    if (loading) {
      return;
    }

    if(nearBottomOfPage()) {
      loading=true;
      page++;
      $.ajax({
        url: '/home/index?page=' + page,
        type: 'get',
        dataType: 'script',
        success: function() {
        	loading=false;
          
        }

      });
    }
  });

}());
</script>
