<style type="text/css">
.topten{
	position: relative;
	left: 75%;
	width: 300px;
	height: 200px;

}
.topten_idea{
		height:70px;
	width: 300px;
background-color: #999999;
border-style: solid;
border-width: 1px;
border-color: white;
	
}
.spam{
	width: 50px;
}
</style>
<% no = 0 %>
<% if params[:search] != ""%>
<% if !@approved.empty? %>
<div id = "IdeaStream">
<% @approved.each do |approved| %>
<% if approved.user.active == true and approved.user.banned == false%>
<% @no = 1%>
<tr>
	<br>
	<td>
		<%= link_to "Title: " + approved.title , approved %>
	</td>
	<br>
	<td>
		<%= "Description: " + approved.description %>
		<br>
		<%= "Number of votes "  + approved.num_votes.to_s %>
		<br>
		<%= "Problem Solved " + approved.problem_solved %>
		<br>
		<%=  "Posted at " + approved.created_at.to_s %>
	</td>
	<td><%= image_tag approved.photo.url(:thumb) %></td>
	<br>
</tr>
<% end %>
<%end%>
<% end %>
</div>
<% end %>
<div class="topten">
<h1>Top Ten Ideas</h1>
<% @top.each do |top| %>
<% if top.user.active == true and top.user.banned == false%>
<div class="topten_idea">
	
	<span><%= link_to top.title ,top %></span>
	<span><%= top.user.first_name %></span>
	<span><%= top.num_votes %></span>
	<span><%= image_tag top.photo.url(:thumb) %></span>
</div>
<% end %>
<% end %>
</div>
<% if params[:search] == ""%>
<em>
Ohh! you entered nothing in the search field
</em>
<% end %>
<% if @approved.empty? %>
<em>No Results Found !!</em>
<% end %>
<% if @no !=  1%>
<em>No Results Found !!</em>
<% end %>
