<style type="text/css">
.topten{
	position: relative;
	left: 75%;
	width: 300px;
	height: 200px;

}
.topten_idea{
		height:70px;
	width: 300px;
background-color: #999999;
border-style: solid;
border-width: 1px;
border-color: white;
	
}
.spam{
	width: 50px;
}
</style>
<% if params[:search] != ""%>
 <% if @approved.count > 0 %>
  <div id = "IdeaStream">
   <% @approved.each do |approved| %>
     <% if approved.user.active == true and approved.user.banned == false and approved.approved == true%>
        <tr>
	       <br>
	 				<td>
						<%= link_to "Title: " + approved.title , approved %>
				</td>
	 				<br>
	  		<td>
		  		<%= "Description: " + approved.description %>
		  		<br>
		  		<%= "Number of votes "  + approved.num_votes.to_s %>
		  		<br>
		  		<%= "Problem Solved " + approved.problem_solved %>
		  		<br>
		  		<%=  "Posted at " + approved.created_at.to_s %>
	  		</td>
	   		<td><%= image_tag approved.photo.url(:thumb) %></td>
	    	<br>
     		</tr>
     <% end %>
   <%end%>
 </div>
<% end %>
<% end %>
<% if params[:search] == ""%>
  <em>Ohh! you entered nothing in the search field</em>
<% end %>
<% if @approved.count == 0 and params[:search] != "" and @all.count > 0%>
  <em>No ideas to preview !!</em>
<% end %>
<% if @all.count == 0%>
<em>No ideas yet</em>
<% end %>

