<%= form_tag "/home/show", :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<style type="text/css">
.topten{
	position: relative;
	left: 75%;
	width: 300px;
	height: 200px;

}
.topten_idea{
		height:70px;
	width: 300px;
background-color: #999999;
border-style: solid;
border-width: 1px;
border-color: white;
	
}
.spam{
	width: 50px;
}
</style>
<div id = "IdeaStream">
<% if @approved.size > 0 %>
<% @approved.each do |approved| %>
<tr>
	<br>
	<td>
		<%= link_to "Title: " + approved.title , approved %>
	</td>
	<br>
	<td>
		<%= "Description: " + approved.description %>
		<br>
		<%= "Number of votes "  + approved.num_votes.to_s %>
		<br>
		<%= "Problem Solved " + approved.problem_solved %>
		<br>
		<%=  "Posted at " + approved.created_at.to_s %>
	</td>
	<br>
</tr>
<%end%>
<% end %>
</div>
<div class="topten">
<h1>Top Ten Ideas</h1>
<% @ideas.each do |top| %>
<div class="topten_idea">
	
	<span><%= link_to top.title ,top %></span>
	<span><%= top.num_votes %></span>
	<span><%= top.user.first_name %></span>
	<span><%= image_tag top.photo.url(:thumb) %></span>

	
</div>
<% end %>
<% if params[:search] == ""%>
<em>
Ohh! you entered nothing in the search
</em>
<% end %>
<% if @ideas.count == 0 %>
<em>No Results Found !!</em>
<% end %>
</div>
