
<br>
<br>
<% if @approved.size > 0 %>
<% @approved.each do |approved| %>
<tr>
	<br>
	<td>
		<%= "Title: " + approved.title %>
	</td>
	<br>
	<td>
		<%= "Description: " + approved.description %>
		<br>
		<%= "Number of votes "  + approved.num_votes.to_s %>
		<br>
		<%= "Problem Solved " + approved.problem_solved %>
		<br>
		<%=  "Posted at " + approved.created_at.to_s %>
	</td>
	<br>
</tr>
<%end%>
<% end %>