<p id="notice"><%= notice %></p>
<% if @user != nil %>
<%= link_to 'Deactivate', controller: 'users' , action: 'confirm_deactivate' %>
<% end %>

<div id="topten">
<h1>Top Ten Ideas</h1>
<% @top.each do |top| %>
<div class="topten_idea">
	<span><%= link_to top.title ,top %></span>
	<span><%= top.num_votes %></span>
	<span><%= top.user.first_name %></span>
</div>
<% end %>
</div>