<%= form_for(@idea, :html => { :multipart => true }) do |i| %>
  <fieldset>
    <% if @idea.errors.any? %>
      <div id = 'error_explanation'>
        <h2><%= pluralize(@idea.errors.count, 'error') %> prohibited this idea from being saved:</h2>
        <ul>
          <% @idea.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <%= i.file_field :photo %>
    </p>
    <div class = 'control-group' >
      <%= i.label :title , :class => 'control-label'%>
      <div class = 'controls'>
        <% if @boolean%>
          <%= i.text_field :title, :class => 'text_field', :placeholder=>'Write title here...',:readonly => 'true'%>
          <span class = 'help-inline'>Sorry you can't change the title</span>
        <%else%>
          <%= i.text_field :title, :class => 'text_field', :placeholder=>'Write title here...'%>
          <span class = 'help-inline'>Please make it short and descriptive</span>
        <%end%>
      </div>
    </div>
    <div class = 'control-group'>
      <%= i.label :description, :class => 'control-label'%>
      <div class="controls">
        <%= i.text_field :description, :class => 'text_field', :placeholder=>"Write description here..."%>
      </div>
    </div>
    <div class="control-group">
      <%= i.label :problem_solved,:class => 'control-label'%>
      <div class="controls">
        <%= i.text_field :problem_solved,:class => 'text_field',:placeholder=>'Write problem solved here...'%>
      </div>
    </div>
    <div>
      <% @tags.each do |tag|%>
        <div><%= check_box_tag 'ideas_tags[tags][]', tag.id, @chosentags.include?(tag) %><%= tag.name %> </div>
      <% end %> 
      <span class = 'help-inline'>Please check the relative tags</span> 
    </div>
    <div class = 'actions'>
      <%= i.submit nil, :class => 'btn btn-primary'%>
    </div>
    <% content_for :sidebar do %>
      <h2>Hints</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <%end%>
  </fieldset>
<% end %>




