<%= form_for(@idea , :html => { :multipart => true }) do |i| %>
<%= form_for(@idea) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>
      <ul>
        <% @idea.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= i.label :title %><br />
    <%= i.text_field :title %>
  </div>
  <div class="field">
    <%= i.label :description %><br />
    <%= i.text_field :description %>
  </div>
  <div class="field">
    <%= i.label :problem_solved %><br />
    <%= i.text_field :problem_solved %>
  </div>
  <p>
    <%= i.file_field :photo %>
  </p>
  <div>
    <% @tags.each do |tag|%>
      <div><%= check_box_tag 'ideas_tags[tags][]', tag.id, @chosentags.include?(tag) %><%= tag.name %> </div>
    <% end %> 
  </div>
  <div class="actions">
    <%= i.submit %>
  </div>
<% end %>
