<%= form_for(@idea, :html => { :multipart => true }) do |i| %>
  <fieldset>
    <% if @idea.errors.any? %>
      <div id = 'error_explanation'>
        <% @idea.errors.full_messages.each do |msg| %>
          <span><%= msg %></span>
        <% end %>
      </div>
    <% end %>
    <div class='row'>
      <div class='span12'>
        <div class='span5'>
            <p class='form-picture'>
              <img alt="Missing" id="image-edit-link" src="/assets/missing.png" class="image-placeholder">
              <%= i.file_field :photo%>
            </p>
            <label>Tags</label>
            <div id="idea-tags">
              <% Tag.all.each do |tag|%>
                <div class='idea-tag'>
                  <%= check_box_tag 'idea[tag_ids][]', tag.id, @idea.tags.include?(tag), data: {tag_name: tag.name } %>
                  <%= tag.name %>
                </div>
              <% end %>
              <span class = 'help-inline'>Please check the relative tags</span>
            </div>
        </div>
        <div class='span6'>
          <div class='control-group' >
          <%= i.label :title , :class=> 'control-label'%>
          <div class='controls'>
              <span class="hint gold-hint"> Choose a short descriptive title for your idea! <span class="hint-pointer"> </span> </span>
            <% if @boolean%>
              <%= i.text_field :title, :class=> 'text_field gold-text-field', :placeholder=>'Write title here...',:readonly => 'true'%>
              <span class='help-inline'>Sorry you can't change the title</span>
            <%else%>
              <%= i.text_field :title, :class=> 'text_field gold-text-field', :placeholder=>'Write title here...',:required => true %>
            <%end%>
          </div>
        </div>
          <div class='control-group'>
            <%= i.label :description, :class=> 'control-label'%>
            <div class="controls">
              <span class="hint gold-hint"> Describe your idea in an easy to understand way. <span class="hint-pointer"> </span> </span>
              <%= i.text_area :description, :class=> 'text_field gold-text-field', :size => "5x5", :placeholder=>"Write description here...",:required => true %>
            </div>
          </div>
          <div class="control-group">
            <%= i.label :problem_solved,:class=> 'control-label'%>
            <div class="controls">
              <span class="hint gold-hint"> Describe the problem your idea could solve. <span class="hint-pointer"> </span> </span>
              <%= i.text_area :problem_solved,:class=> 'text_field gold-text-field', :size => "5x5", :placeholder=>'Write problem solved here...'%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='actions row'>
      <div class='span12'>
        <br />
        <%= i.submit nil, :class=> 'btn btn-primary'%>
      </div>
    </div>
  </fieldset>
<% end %>
