<%  if defined?(controller).nil?
      controller = params[:controller]
    end %>
<%  if defined?(voted).nil?
      voted = user_signed_in? && current_user.voted_for?(idea)
    end %>
<% if idea.user.active and !idea.user.banned and idea.approved %>
  <div class='wrapper row stream-idea'>
    <div class="idea-<%= idea.id%> span8 ideasstream well">
      <div class='row span6'>
        <h4 class='inline'><%= link_to  idea.title , idea %></h4>
      </div>
      <div class='row span8'>
        <div class='span2 stream-photo'>
          <%= image_tag idea.photo.url(:medium) %>
        </div>
        <div class='span4'>
          <%= 'by' %>
          <span><%= link_to idea.user.username , idea.user.becomes(User) %></span>
          <h6 class="stream-date">
            <% if ((Time.now - idea.created_at).to_i)/24/60/60 < 1 %>

              <a href="/ideas/<%= idea.id %>"><%= distance_of_time_in_words(idea.created_at.to_time, Time.now).to_s + " ago" %></a>
            <% else %>
              <a href="/ideas/<%= idea.id %>"><%= Idea.getDate(idea.id) %></a>
            <% end %>
          </h6>
          <h4 class='stream-idea-titile'>Description</h4>
          <div class='stream-comp-description'><%= idea.description %></div>
        </div>
        <div class='span2'>
          <%= render :partial => "ideas/vote_component", locals: { idea: idea ,size: 'span1', voted: voted} %>
        </div>
      </div>
      <div class='row span8'>
        <% idea.tags.each do |tag| %>
          <% if controller == "stream" || params[:controller] == "stream" %>
            <button class="btn btn-link tag-btn" value='<%= tag.name %>'>
              <span class="label label-info ">
                <i class="icon-tag"></i>
                <%= tag.name %>
              </span>
            </button>
          <% else %>
            <span class="label label-info"><%= link_to tag.name, {:controller => "stream", :action => "index", :tag => [tag.name], :mypage => "1" , :search_user => "false", :insert => "true", :set_global => "true"}, :class => "outside_tag_button"%></span>
          <% end %>   
        <% end %>     
      </div>
      <div class='row span8 offset6'>
          <%= render :partial => "/ideas/share", locals: { idea: idea } %>
      </div>
    </div>
  </div>
<% end %>
