<div class='media'>
	<a  class='pull-left' href='#'>
	<%= image_tag @idea.photo.url(:medium) %>
	</a>
	<p>
	<!--!<h2>Title:</h2>-->
		<h3><%= @idea.title %></h3>
		<div>
			<!--!<%=form_for @idea do |f| %>-->
		  </div>
			<%if @user==@idea.user_id%>
				<div class='btn-group'>
				 <%= link_to 'Edit',edit_idea_path(@idea),:class=>'btn btn-inverse'%> 
				 <%= link_to 'Delete', idea_path(@idea), :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-danger' %>
				 <% if @idea.archive_status == true %>
					<%= link_to 'Unarchive', { :controller => "ideas", :action => "unarchive" }, :id => @idea.id, :class => 'btn btn-inverse' %>
				<% else %>
					<%= link_to 'Archive', { :controller => "ideas", :action => "archive" }, :id => @idea.id, :confirm => "Are you sure?", :class => 'btn btn-danger' %>
				<% end %>
				<!--! add here archive and delete buttons -->
				</div>
				<h2><%=link_to @username, @idea.user%></h2>
			<%end%>
<!--!<%end%>-->
	</p>
</div>
<div class='media-body'>
	<p>
		<h3>Description:</h3>
		<div><%= @idea.description %></div>
	</p>
	<p>
		<h3>Problem Solved:</h3>
		<div><%= @idea.problem_solved%></div>
	</p>
	<p>
    <% if @idea.ratings.size > 0 %>
      <b>Ratings:-</b>
      <% @idea.ratings.each do |therating| %>
        <p>
          <div>
            <%= render :partial => '/user_ratings/form', :locals => { :therating => therating } %>
          </div>
        </p>
      <% end %>
    <% end %>
  </p>
</div>
	<legend><h4>Comments</h4></legend>
		<div id='like'>
		<table>
			<% @idea.comments.each do |comment| %>
				<tr>
    			<td>
    				<blockquote>
    					<label>
    						<%= comment.content %>
    					</label>
    					<small> 
    						added <%= time_ago_in_words comment.created_at %> ago  and updated <%= time_ago_in_words comment.updated_at %> ago
    					</small>
    				</blockquote> 
    			</td>
					<td>
						<%= link_to "<i></i>".html_safe, [@idea, comment], :method=>:delete, :class=> "icon-remove", :confirm => 'Are you sure?' %>
							<% if @likes.detect {|x| x.comment_id == comment.id}.nil? %>
								<%= link_to "+1", :controller => 'ideas', :action => 'like', :commentid => comment.id,:id =>@idea.id, :remote => true %>
							<% end %> 
							<%= link_to "<i></i>".html_safe, edit_idea_comment_path(@idea,comment), :id => "button_id", :class => "icon-edit" %> 
						<small>
							<%= comment.num_likes %> likes
						</small>
					</td>
				</tr>
					<% end %>
		</table>
		</div>
<h5>Add a comment:</h5>
<%= form_for([@idea, @idea.comments.create]) do |f| %>

  <div class="controls">
  	<%= f.text_area :content ,:size => "6x6",:class => 'text_area',:placeholder=>"Write comment here..."%>
	</div>
  	<%= f.submit nil, :class => 'btn btn-small btn-primary'%>
		<% end %>
<td>
 <%= link_to 'Back', '/',:class => "btn" %>
</td>


