<p id="notice"><%= notice %></p>
<div class='media'>
	<a  class="pull-left" href="#">
		<%= image_tag @idea.photo.url(:medium) %>
	</a>
	<p>
		<b>Title:</b>
		<div><%= @idea.title %></div>
		<% if @user == @idea.user_id %>
			<div class="btn-group">
				<%= link_to 'Edit', edit_idea_path(@idea) ,:class => "btn btn-inverse" %>
				<% if @idea.archive_status == true %>
					<%= link_to 'Unarchive', { :controller => "ideas", :action => "unarchive" }, :id => @idea.id, :class => 'btn btn-inverse unarchive', :remote => true %>
				<% else %>
					<%= link_to 'Archive', { :controller => "ideas", :action => "archive" }, :id => @idea.id, :confirm => "Are you sure?", :class => 'btn btn-danger archive', :remote => true %>
				<% end %>
				<%= link_to 'Delete', idea_path(@idea), :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-danger' %>
			</div>
		<%end%>
	</p>
</div>
<div class="media-body">
	<p>
		<b>Description:</b>
		<div><%= @idea.description %></div>
	</p>
	<p>
		<b>Problem Solved:</b>
		<div><%= @idea.problem_solved  %></div>
	</p>
</div>
<td><%= link_to 'Back', '/',:class => "btn" %></td>

