<div class='media'>
<a  class='pull-left' href='#'>
<%= image_tag @idea.photo.url(:medium) %>
</a>
<p>
<h3><%= @idea.title %></h3>
<%=form_for(@idea, :action=>'update') do |f| %>
<%if @user==@idea.user_id%>
<div class='btn-group'>
 <%= link_to 'Edit',edit_idea_path(@idea),:class=>'btn btn-inverse'%> 
<!--! add here archive and delete buttons -->
</div>
<h2><%= @username%></h2>
<%end%>
<%end%>
</p>
</div>
<div class='media-body'>
<p>
<h3>Description:</h3>
<div><%= @idea.description %></div>
</p>
<p>
<h3>Problem Solved:</h3>
<div><%= @idea.problem_solved%></div>
</p>
</div>

<h5>Comments</h5>
<table>
  <% @idea.comments.each do |comment| %>
  <tr>
      <td><blockquote><p><%= comment.content %></p><small> added <%= time_ago_in_words comment.created_at %> ago  and updated <%= time_ago_in_words comment.updated_at %> ago</small></blockquote> </td>
<td><%= link_to "<i></i>".html_safe, [@idea, comment], :method=>:delete, :class=> "icon-remove", :confirm => 'Are you sure?' %>
<% if params[:commentid] == nil%>
	<%= link_to "like", :controller => 'ideas', :action => 'show', :commentid => comment.id %>
	<% else %>
	<% if @like.user_id != current_user.id %>
	<%= link_to "like", :controller => 'ideas', :action => 'show', :commentid => comment.id %>
	<% end %>
	<% end %>	
	<%= link_to "<i></i>".html_safe, edit_idea_comment_path(@idea,comment), :id => "button_id", :class => "icon-edit" %> <%= comment.num_likes %> likes</td><td><td>
  </tr>
 <% end %>
</table><br>
<h5>Add a comment:</h5>
<%= form_for([@idea, @idea.comments.create]) do |f| %>

    <div class="controls">
    <%= f.text_area :content ,:class => 'text_area',:placeholder=>"Write comment here..."%>
  </div>
    <%= f.submit nil, :class => 'btn btn-small btn-primary'%>

<% end %>
<td><%= link_to 'Back', '/',:class => "btn" %></td>


