<div id='fb-root'></div>
<div class='media'>
  <a  class='pull-left' href='#'>
    <%= image_tag @idea.photo.url(:medium) ,id:'image-edit-link' %>
  </a>
  <script>
    $('#image-edit-link').popover({animation: true, content:'<%= escape_javascript(render(:partial => "image")) %>', trigger: 'click', html: true});
  </script>
  <p>
    <h3><%= @idea.title %></h3>
    <div>
      <div id ='change_vote' class = 'pull-right'>
        <span><h2><%= @idea.num_votes %></h2></span>
        <%if @ideavoted.nil? %>
          <%= link_to 'Vote', { :controller => "ideas", :action => "vote" }, :id => @idea.id,remote: true,:class => 'btn btn-inverse' %>
        <% else %>
          <%= link_to 'Unvote', { :controller => "ideas", :action => "unvote" }, :id => @idea.id,:confirm => "Are you sure?",remote:true,:class => 'btn btn-danger' %>
        <%end%>
      </div>
    </div>
    <%if @user==@idea.user_id%>
      <div class='btn-group'>
        <%= link_to 'Edit',edit_idea_path(@idea),:class=>'btn btn-inverse'%>
        <%= link_to 'Delete', idea_path(@idea), :method => :delete, :confirm => "Are you sure?", :class => 'btn btn-danger' %>
        <% if @idea.archive_status == true %>
          <%= link_to 'Unarchive', { :controller => "ideas", :action => "unarchive" }, :id => @idea.id, :class => 'btn btn-inverse' %>
        <% else %>
          <%= link_to 'Archive', { :controller => "ideas", :action => "archive" }, :id => @idea.id, :confirm => "Are you sure?", :class => 'btn btn-danger' %>
        <% end %>
      </div>
      <h2><%=link_to @username, @idea.user.becomes(User)%></h2>
    <%end%>
  </p>
</div>
<div>
  <%if @chosentags != nil %>
    <% @chosentags.each do |tag|%>
      <span class="label label-info "><%= tag.name %></span>
    <% end %>
  <% end %>
</div>
<div class='media-body'>
  <p>
    <h3>Description:</h3>
    <div><%= best_in_place_if @user==@idea.user_id, @idea, :description ,  type: :textarea %></div>
  </p>
  <p>
    <h3>Problem Solved:</h3>
    <div><%= best_in_place_if @user==@idea.user_id, @idea, :problem_solved ,  type: :textarea%></div>
  </p>
</div>
<legend><h4 class ="title2">Comments</h4></legend>
<div id='comments'>
  <div id='comment-partial'>
    <%= render partial: '/comments/comment', locals: { user: @user, idea: @idea } %>
  </div>
</div>
<div class = "addComment">
  <h5 class = "title1">Add a comment:</h5>
  <%= form_for([@idea, @idea.comments.create], remote: true) do |f| %>
    <div class="controls">
      <div class ="textArea1" >
        <%= f.text_area :content ,:size => "6x6",:class => 'text_area',:placeholder=>"Write comment here..."%>
      </div>
    </div>
    <%= f.submit nil, :class => 'btn btn-small btn-primary' %>
  <% end %>
  <td><%= link_to 'Back', '/',:class => "btn" %></td>
  <%if @idea.archive_status == false%>
    <button id='share' class='btn btn-primary' type='button'>Share</button>
    <div id='show' class='container'>
      <%= image_tag('f_logo.jpg', :id => 'fbk')%>
      <%= image_tag('twitter-bird-white-on-blue.jpg', :id => 'tw')%>
      <a href="http://pinterest.com/pin/create/button/?url=<%=root_url + url_for(@idea)%>&media=<%=root_url + @idea.photo.url %>&description=<%= @idea.description%>" class="pin-it-button" count-layout="horizontal"><%= image_tag("pinterest_badge_red.png", :id => "pin")%></a>
    </div>
  <%end%>
