<% search_results_count = 0 %>
<% if @page.nil? %>
  <% if !@searching_with %>
    <% @ideas.each do |idea| %>
    <% if idea.approved == true and idea.user.banned == false and idea.user.active == true %>
    <% search_results_count = search_results_count + 1 %>
      <%= render partial: 'ideas/stream_component', locals: { idea: idea } %>
    <%end%>
    <% end %>
    <% else %>
      <% search_results_count = search_results_count + 1 %>
        <% @users.each do |user|%>
          <%= render template: '/users/_stream_users', locals: { user: user } %>
        <% end %>
    <% end %>
  <% else %>
    <% if !@search_with_user %>
      <% if @page == "1" %>
        <%= render partial: 'tags', locals: { filter_this: @filter_tmp } %>
      <% end %>
      <% @ideas.each do |idea| %>
      <% if idea.approved == true and idea.user.banned == false and idea.user.active == true %>
      <% search_results_count = search_results_count + 1 %>
        <%= render partial: 'ideas/stream_component', locals: { idea: idea } %>
        <% end %>
      <%end%>
    <% else %>
      <% search_results_count = search_results_count + 1 %>
        <% @users.each do |user|%>
        <%= render template: '/users/_stream_users', locals: { user: user } %>
      <% end %>
    <% end %>
  <% end %>
<% if @page == "1" %>
<% if search_results_count == 0 %>
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>No Results Found</strong>
</div>
<% end %>
<% end %>