<div class='well notification idea-notification <%= read ? 'read' : 'unread' %>' data-time=<%= notification.created_at.to_i %> data-notification = <%= notification.id %>>
  <span><%= notification.text %></span>
  <div class='notification-link'><%= link_to 'view idea', notification.idea %></div>
  <span class='notification-date'>
  	<% if ((Time.now - notification.created_at).to_i)/24/60/60 < 1 %>
       <%= distance_of_time_in_words(notification.created_at.to_time, Time.now).to_s + " ago" %>
     <% else %>
       <%= Notification.getDate(notification.id) %>
     <% end %>
  </span>
</div>
