<h3 class = 'title'>Notifications</h3>
<% @notifications.each do |notification| %>
  <% if notification.is_a? VoteNotification %>
    <% if ! IdeaNotificationsUser.find(:first, :conditions => {idea_notification_id: notification.id, user_id: current_user.id }).read? %>
      <div class = 'notification unread'><br><div class = 'same_line centered'>Your idea  <%= notification.idea.title %> got a vote.</div>
      <div class = 'link'><%= link_to 'view', {controller: 'ideas', action: 'show'} %></div></div>
    <% else %>
      <div class = 'notification read'><br><div class = 'same_line centered'>Your idea  <%= notification.idea.title %> got a vote.</div>
      <div class = 'link'><%= link_to 'view', {controller: 'ideas', action: 'show'} %></div></div>
    <% end %>
  <% end %>
  <% if notification.is_a? CommentNotification %>
    <% if ! IdeaNotificationsUser.find(:first, :conditions => {idea_notification_id: notification.id, user_id: current_user.id }).read? %>
      <div class = 'notification unread'><br><div class = 'same_line centered'><%= notification.user.username %> commented on you idea
      <%= notification.idea.title %>.</div>
      <div class = 'link'><%= link_to 'view', {controller: 'ideas', action: 'show'} %></div></div>
    <% else %>
      <div class = 'notification read'><br><div class = 'same_line centered'><%= notification.user.username %> commented on you idea
      <%= notification.idea.title %>.</div>
      <div class = 'link'><%= link_to 'view', {controller: 'ideas', action: 'show'} %></div></div>
    <% end %>
  <% end %>
  <% if notification.is_a? DeleteNotification %>
    <% if ! IdeaNotificationsUser.find(:first, :conditions => {idea_notification_id: notification.id, user_id: current_user.id }).read? %>
      <div class = 'notification unread'><br><div class = 'same_line centered'><%= notification.user.username %> deleted his idea <%= notification.idea.title %>.</div></div>
    <% else %>
      <div class = 'notification read'><br><div class = 'same_line centered'><%= notification.user.username %> deleted his idea <%= notification.idea.title %>.</div></div>
    <% end %>
  <% end %>
  <% if notification.is_a? EditNotification %>
    <% if ! IdeaNotificationsUser.find(:first, :conditions => {idea_notification_id: notification.id, user_id: current_user.id }).read? %>
      <div class = 'notification unread'><br><div class = 'same_line centered'><%= notification.user.username %> edited his idea
      <%= notification.idea.title %>.</div>
      <div class = 'link'><%= link_to 'view', {controller: 'ideas', action: 'show'} %></div></div>
    <% else %>
      <div class = 'notification read'><br><div class = 'same_line centered'><%= notification.user.username %> edited his idea
      <%= notification.idea.title %>.</div>
      <div class = 'link'><%= link_to 'view', {controller: 'ideas', action: 'show'} %></div></div>
    <% end %>
  <% end %>
  <% if notification.is_a? ArchiveNotification %>
    <% if ! IdeaNotificationsUser.find(:first, :conditions => {idea_notification_id: notification.id, user_id: current_user.id }).read? %>
      <div class = 'notification unread'><br><div class = 'same_line centered'>The idea  <%= notification.idea.title %>  got archived.</div>
      <div class = 'link'><%= link_to 'view', {controller: 'ideas', action: 'show'} %></div></div>
    <% else %>
      <div class = 'notification read'><br><div class = 'same_line centered'>The idea  <%= notification.idea.title %>  got a archived.</div>
      <div class = 'link'><%= link_to 'view', {controller: 'ideas', action: 'show'} %></div></div>
    <% end %>
  <% end %>
  <% if notification.is_a? DisapproveIdeaNotification %>
    <% if ! IdeaNotificationsUser.find(:first, :conditions => {idea_notification_id: notification.id, user_id: current_user.id }).read? %>
      <div class = 'notification unread'><br><div class = 'same_line centered'>Your idea <%= notification.idea.title %>
      wasn't approved by committee.</div>
      <div class = 'link'><%= link_to 'view', {controller: 'ideas', action: 'show'} %></div></div>
    <% else %>
      <div class = 'notification read'><br><div class = 'same_line centered'>Your idea <%= notification.idea.title %>
      wasn't approved by committee.</div>
      <div class = 'link'><%= link_to 'view', {controller: 'ideas', action: 'show'} %></div></div>
    <% end %>
  <% end %>
  <% if notification.is_a? InviteCommitteeNotification %>
    <% if ! UserNotificationsUser.find(:first, :conditions => {user_notification_id: notification.id, user_id: current_user.id }).read? %>
      <div class = 'notification unread'><br><div class = 'same_line centered'>You have been invited to become a committee member.</div>
      <div class = 'link'><%= link_to 'choose area of expertise', {controller: 'users', action: 'expertise'} %></div></div>
    <% else %>
      <div class = 'notification read'><br><div class = 'same_line centered'>You have been invited to become a committee member.</div>
      <div class = 'link'><%= link_to 'choose area of expertise', {controller: 'users', action: 'expertise'} %></div></div>
    <% end %>
  <% end %>
  <% if notification.is_a? ApproveCommitteeNotification %>
    <% if ! UserNotificationsUser.find(:first, :conditions => {user_notification_id: notification.id, user_id: current_user.id }).read? %>
      <div class = 'notification unread'><br><div class = 'same_line centered'><%= notification.user.username %> has signed up as a committee member</div>
      <div class = 'link'><%= link_to 'review', {controller: 'committees', action: 'review_committee'}  %></div></div>
    <% else %>
      <div class = 'notification read'><br><div class = 'same_line centered'><%= notification.user.username %> has signed up as a committee member</div>
      <div class = 'link'><%= link_to 'review', {controller: 'committees', action: 'review_committee'} %></div></div>
    <% end %>
  <% end %>
<% end %>