<h1><%= @user.username %>'s Profile</h1>
<%if @user.banned == true %>
  <p class="text-error">This User is currently banned!</p>
<%elsif @user.active == false%>
  <p class="text-error">This User is currently deactivated!</p>
<% end %>
<% if current_user %>
  <% if @admin.type == "Admin" && @user.active==true && @user.banned==false%>
    <%= link_to 'Ban', { :controller => "admins", :action => "ban_unban" },:id =>params[:id], :confirm => "Are you sure you want to Ban this user?",:class => 'btn btn-danger' %>
  <% end %>
  <% if @admin.type == "Admin" && @user.active==true && @user.banned==true%>
    <%= link_to 'Unban', { :controller => "admins", :action => "ban_unban" }, :id =>params[:id], :confirm => "Are you sure you want to Unban this user?",:class => 'btn btn-success' %>
  <% end %>
  <div class="btn-group pull-right">
    <% if @admin.type == "Admin" and @registered and @user.banned==false%>
      <%= render :partial => 'modal_approve'%>
      <p><a data-toggle="modal" href="#approve" class="btn btn-large btn-success">Approve</a></p>
    <% end %>
    <% if @admin.type == "Admin" and @registered and @user.banned==false%>
      <%= render :partial => 'modal_reject'%>
      <p><a data-toggle="modal" href="#reject" class="btn btn-large btn-danger">Reject</a></p>
    <% end %>
    <% if @admin.type == "Admin" && @user.active==true && !@registered %>
      <%= link_to "Invite", { :controller => "users", :action => "invite_member", :id => @user }, :class => "btn btn-primary btn-large" %>
    <%end%>
  <% end %>
</div>
<% if @admin == @user %>
  <button class="btn">Edit Profile</button>
<% end %>
<% if current_user == @user and @user.active%>
  <button class="btn">Deactivate</button>
<% end %>
<% if @user.banned == false and @user.active == true %>
  <h3>
    About the User
  </h3>
  <strong>Email</strong><br>
    <%= @user.email %><br>
      <strong>First Name</strong><br>
        <%= @user.first_name %><br>
          <strong>Last Name</strong><br>
            <%= @user.last_name %><br>
              <strong>Gender</strong><br>
                <%= @user.gender %><br>
                  <strong>About
                    <%= @user.username %></strong><br>
                    <%= @user.about_me %><br>
                      <br>
                        <h3>
                          User Ideas
                        </h3>
                        <div id = "IdeaStream">
                          <% if @ideas.size> 0 %>
                            <% @ideas.each do |ideas| %>
                              <% if ideas.approved == true%>
                                <tr>
                                  <br>
                                    <td>
                                      <%= link_to "Title: " + ideas.title , ideas %>
                                    </td>
                                    <br>
                                      <td>
                                        <%= "Description: " + ideas.description %>
                                        <br>
                                          <%= "Number of votes "  + ideas.num_votes.to_s %>
                                          <br>
                                            <%= "Problem Solved " + ideas.problem_solved %>
                                            <br>
                                              <%=  "Posted at " + ideas.created_at.to_s %>
                                            </td>
                                            <br>
                                            </tr>
                                          <% end %>
                                        <% end %>
                                      <% end %>
                                    </div>
                                  <% end %>
                                  <ul class="pager">
                                    <li><%= link_to 'Back', :back %></li>
                                  </ul>
