<h1>User Profile</h1>
<h2> About the User </h2>
   Email : <%= @user.email %><br>
   Username : <%= @user.username %><br>
   First Name : <%= @user.first_name %><br>
   Last Name : <%= @user.last_name %><br>
   Gender  : <%= @user.gender %><br>
   About me : <%= @user.about_me %><br>
	<br> 
   <h2> User Ideas </h2>
   <div id = "IdeaStream">
	<% if @approved.size > 0 %>
	<% @approved.each do |approved| %>
	<tr>
		<br>
		<td>
			<%= link_to "Title: " + approved.title , approved %>
		</td>
		<br>
		<td>
			<%= "Description: " + approved.description %>
			<br>
			<%= "Number of votes "  + approved.num_votes.to_s %>
			<br>
			<%= "Problem Solved " + approved.problem_solved %>
			<br>
			<%=  "Posted at " + approved.created_at.to_s %>
		</td>
		<br>
	</tr>
	<%end%>
	<% end %>
	</div>
   
