<h1><%= @user.username %>'s Profile</h1>

<% if @user.banned == true %>
  <p class='text-error'>This User is currently banned!</p>
<% elsif @user.active == false %>
  <p class='text-error'>This User is currently deactivated!</p>
<% end %>
<div class='options'>
  <% if current_user == @user %>
    <div class= 'btn'><%= link_to "Edit" , edit_user_path %></div>
    <% end %>
</div>
<% if @admin !=nil && @admin.type == "Admin" && @user.active==true && @user.banned==false %>
  <%= link_to 'Ban', { :controller => 'admins', :action => 'ban_unban' }, :id =>params[:id], :confirm => 'Are you sure you want to Ban this user?', :class => 'options btn btn-danger' %>
<% end %>
<% if @admin !=nil && @admin.type == "Admin" && @user.banned==true %>
 <%= link_to 'Unban', { :controller => 'admins', :action => 'ban_unban' }, :id =>params[:id], :confirm => 'Are you sure you want to Unban this user?',:class => 'options btn btn-success' %>
<% end %>
<% if @user.banned == false and @user.active == true %>
  <div class='user-photo'>
    <%= image_tag @user.photo.url(:medium) %>
  </div>
  <div class = 'user-details'>
    <h3> About the User </h3>
    <strong>Email</strong><br>
    <%= @user.email %><br>
    <strong>First Name</strong><br>
    <%= @user.first_name %><br>
    <strong>Last Name</strong><br>
    <%= @user.last_name %><br>
    <strong>Gender</strong><br>
    <%= @user.gender %><br>
  </div>
  <div class='user-about'>
    <strong>About <%= @user.username %></strong><br>
    <%= @user.about_me %><br>
  </div>
  <br>
  <h2> User Ideas </h2>
  <br>
  <div id = "IdeaStream">
    <div class = "page">
      <%= render :partial => '/home/stream' %>
    </div>  
  </div>
</div>
</div>
<br>
<br>
<div class='new-idea'>
  <%= link_to 'Create new Idea!', '/ideas/new', :class => 'btn btn-large btn-block' %>
</div>
<div>
<br> 
  <ul class="pager">
    <li><%= link_to 'Back', :back %></li>
  </ul>
</div>
<% end %>