<link rel="stylesheet" type="text/css" media="all"
      href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/smoothness/jquery-ui.css"/>
<h1>
  <% if @user.username != "" and @user.username %>
    <%= @user.username %>'s Profile
  <% else %>
    User's Profile
  <% end %>
</h1>
<% if @user.banned == true %>
  <p class='text-error'>This User is currently banned!</p>
<% elsif @user.active == false %>
  <p class='text-error'>This User is currently deactivated!</p>
<% end %>
<div class='options'>
  <% if current_user == @user %>
    <div class= 'btn'><%= link_to "Edit" , edit_user_registration_path %></div>
  <% end %>
</div>
<% if @admin != nil && @admin.type == 'Admin' && @user.active == true && @user.banned == false %>
  <%= link_to 'Ban', { :controller => 'admins', :action => 'ban_unban' }, :id =>params[:id], :confirm => 'Are you sure you want to Ban this user?', :class => 'options btn btn-danger' %>
<% end %>
<% if @admin != nil && @admin.type == 'Admin' && @user.banned==true %>
  <%= link_to 'Unban', { :controller => 'admins', :action => 'ban_unban' }, :id =>params[:id], :confirm => 'Are you sure you want to Unban this user?', :class => 'options btn btn-success' %>
<% end %>
<% if @admin.type == "Admin" and @registered and @user.banned==false%>
  <%= render :partial => 'modal_approve'%>
  <p><a data-toggle="modal" href="#approve" class="options btn btn-success">Approve</a></p>
<% end %>
<% if @admin.type == "Admin" and @registered and @user.banned==false%>
  <%= render :partial => 'modal_reject'%>
  <p><a data-toggle="modal" href="#reject" class="options btn btn-danger">Reject</a></p>
</div>
