<%= javascript_include_tag 'rating_ballot' %>
<b>Name:</b>
<div><%= therating.name %></div>
<b>Value:</b>
<div><%= therating.value %></div>      
<%= form_for(rating_ballot(therating.id), :remote => true, :html => { :class => 'rating_ballot form-inline' }) do |f| %>
  <%= f.label('value_1', content_tag(:span, '1'), {:class => 'rating', :id => '1'}) %>
  <%= radio_button_tag('rating[value]', 1, current_user_rating(therating.id) == 1, :class => 'rating_button') %>
  <%= f.label('value_2', content_tag(:span, '2'), {:class => 'rating', :id => '2'}) %>
  <%= radio_button_tag('rating[value]', 2, current_user_rating(therating.id) == 2, :class => 'rating_button') %>
  <%= f.label('value_3', content_tag(:span, '3'), {:class => 'rating', :id => '3'}) %>
  <%= radio_button_tag('rating[value]', 3, current_user_rating(therating.id) == 3, :class => 'rating_button') %>
  <%= f.label('value_4', content_tag(:span, '4'), {:class => 'rating', :id => '4'}) %>
  <%= radio_button_tag('rating[value]', 4, current_user_rating(therating.id) == 4, :class => 'rating_button') %>
  <%= f.label('value_5', content_tag(:span, '5'), {:class => 'rating', :id => '5'}) %>
  <%= radio_button_tag('rating[value]', 5, current_user_rating(therating.id) == 5, :class => 'rating_button') %>

  <%= hidden_field_tag('idea_id', @idea.id) %>
  <%= hidden_field_tag('rating_id', therating.id) %>
  <% #f.submit :Submit %>
  </span>
<% end %>