<%= link_to "Home", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
    <li>
    <%= link_to('Sign out', destroy_user_session_path, :method=>:delete) %>
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>
    </li>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to('Deactivate', controller: 'users' , action: 'confirm_deactivate') %>
    </li>
  <% end %>
  <% if user_signed_in? %>
  <% if current_user.is_a? Committee%>
  <li>
    <%= link_to('Dashboard', controller: 'dashboard' , action: 'index') %>
  </li>
  <% else %>
  <% if current_user.ideas != nil %>
    <li>
    <%= link_to('Dashboard', controller: 'dashboard' , action: 'index') %>
  </li>
  <% end %>
  <% end %>
  <% end %>
  <li>
    <%= form_tag "/", :method => :get,:class => "form-search", :id => 'searchdiv', :remote => true do %>
  <p class = "input-append">
    <%= text_field_tag :search, params[:search], :placeholder => "Search....." ,:class => "span2 search-query"%>
     <button class='btn btn-info'>
        <i class="icon-search icon-white"></i>
    </button>
  </p>
<% end %>
  </li>
</ul>
