<!DOCTYPE html>
<html>
<head>
  <title>Sprint0</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
 
  <%= csrf_meta_tags %>
</head>
<h1>Idearator</h1>

<%= form_tag "/home/show", :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<body>

<%= yield %>

</body>
</html>
